/*Estilo de etiqueta*/
body {
font-family: 'Times New Roman', Times, serif;
background-color: aqua;
}

h1 {
    color: burlywood;
}

.miParrafo {
    color: black;
    font-size: 18px;
}

button{
    padding: 10px 20px;
    background-color: chocolate;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
    
}

button:hover {

    background-color: coral;

    
}

/*estilo de clase*/
.body {
    color: aquamarine;
}
